@import "../Theme.scss";
#sub-navbar {
    margin: auto;
    display: flex;
    justify-content: center;
    .sub-navbar-item {
        margin-left: 1vw;
        margin-right: 1vw;
        font-size: 1vw;
        a {
            color: black;
        }
    }
}

#parent {
    margin: auto;
    padding: 10px;
    width: 80%;
}

.title {
    font-size: 1vw;
    margin: auto;
    text-align: center;
}

.displayNone {
    display: none;
}