#home {
    h1 {
        color: black;
        font-size: 6em;
    }
    h2 {
        color: black;
    }
    h3 {
        color: black;
    }
    h4 {
        color: black;
    }
    .jumbotron {
        height: 100%;
        color: white;
        border-radius: 0;
        h1 {
            color: white;
        }
        h4 {
            color: white;
        }
    }
    .btn-info {
        color: white;
        background-color: black;
        border-color: black;
    }
    #center {
        text-align: center;
    }
    .website_function {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5vw;
        padding-bottom: 5vh;
        .title {
            font-size: larger;
            font-weight: bold;
        }
    }
}