@import "../Theme.scss";
#creator-container-sub-navbar {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 1vh;
    .sub-navbar-item {
        margin-left: 1vw;
        margin-right: 1vw;
        font-size: 1vw;
        a {
            color: black;
        }
    }
}