@import "./../../Theme.scss";
#errorLog {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    .errorItem {
        background-color: rgba(0, 255, 255, 0.3);
        border-style: solid;
        margin-top: 1vh;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
    }
    .errorDelete {
        text-align: right;
        // background-color: rgba(3, 44, 44, 0.3);
    }
}

#test-new {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    .title {
        font-weight: bold;
        font-size: larger;
        font-size: 1vw;
        margin: auto;
        text-align: center;
    }
    #left,
    #right {
        border-color: black;
        border-style: groove;
        padding: 25px;
    }
    .displayNone {
        display: none;
    }
}

// #title {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
// }
// #title-left {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     margin-left: 1vw;
//     margin-right: 1vw
// }
// #title-right {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
// }
// #left {
//     width: wrap;
//     border-width: 2px;
//     border-style: groove;
// }
// #right {
//     width: wrap;
//     border-width: 2px;
//     border-style: groove;
// }