@import "./../../Theme.scss";
#test-overview {
    border-color: black;
    border-style: groove;
    width: 80%;
    margin: auto;
    .title {
        font-weight: bold;
        font-size: larger;
        font-size: 1vw;
        margin: auto;
        text-align: center;
    }
}